[Unit]
Description=Check the hardware temperature sensor

[Timer]
OnBootSec={{ settings.monitoring.temperature.check_interval }}s
OnUnitActiveSec={{ settings.monitoring.temperature.check_interval }}s
AccuracySec=3s
Unit=temperature.service

[Install]
WantedBy=timers.target
